/**
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     OverviewLarge
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  Large View Overview
 */

#TicketOverviewLarge {
    margin-top: 10px;
}

.OverviewLarge {
    margin: 0px 16px 8px 8px;
}

.RTL .OverviewLarge {
    margin-right: 8px;
    margin-left: 16px;
}

.OverviewLarge .ActionRow {
    cursor: default;
}

#EmptyMessageLarge {
   padding: 7px;
   border: 1px solid #DDD;
   min-height: 0px;
}

.OverviewLarge > li {
    position: relative;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.OverviewLarge > li:first-child {
    border-top: 1px solid #ddd;
}

.OverviewLarge > li ul.InlineActions {
    position: absolute;
    top: -30px;
    right: 0px;
    background-color: #777;
    padding-left: 5px;
    height: 30px;
    cursor: auto;
    transition: all ease-in 0.2s;
}

.OverviewLarge > li:hover ul.InlineActions {
    top: 0px;
}

.OverviewLarge > li ul.InlineActions li {
    height: auto;
    min-height: 0;
    border: none;
}

.OverviewLarge > li ul.InlineActions.Actions li:after {
    margin-top: 5px;
}

.OverviewLarge > li ul.InlineActions li form {
    padding-top: 7px;
}

.OverviewLarge > li ul.InlineActions li form select {
    font-size: 11px;
}

.OverviewLarge > li ul.InlineActions li a {
    color: #fff;
    display: block;
    float: left;
}

.OverviewLarge > li ul.InlineActions li:last-child a {
    margin-right: 0px;
}

.OverviewLarge > li ul.InlineActions li.Even {
    background-color: transparent;
}

.OverviewLarge > li ul.InlineActions li:nth-child(even) {
    background-color: transparent;
}

.OverviewLarge .Content {
    padding-top: 12px;
    position: relative;
    cursor: pointer;
    border-left: 5px solid #fff;
    overflow: hidden;
    padding-bottom: 10px;
}

.OverviewLarge .Content.ArticleBody {
    cursor: text;
}

.OverviewLarge .Content.ShowInlineActions {
    padding-top: 32px;
}

.OverviewLarge > li:hover > .Content,
.OverviewLarge > li:hover {
    border-left-color: #0068A9 !important;
}

.OverviewLarge > li.Last {
    border-bottom: 1px solid #ddd;
}

.OverviewLarge > li:last-child {
    border-bottom: 1px solid #ddd;
}

.OverviewLarge > li.Even {
    background-color: #F5F5F5;
}

.OverviewLarge > li:nth-child(even) {
    background-color: #F5F5F5;
}

.OverviewLarge > li:nth-child(even) .Content {
    border-left-color: #f5f5f5;
}

.OverviewLarge div.Checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    cursor: default !important;
}

.OverviewLarge div.Checkbox input {
    margin-top: 12px;
    margin-left: 8px;
}

.RTL .OverviewLarge input.Checkbox {
    left: auto;
    right: 0px;
}

.RTL .OverviewLarge div.Checkbox input {
    margin-left: 0px;
    margin-right: 8px;
}

.OverviewLarge div.Flag {
    position: absolute;
    left: 5px;
    top: 37px;
    width: 25px;
    height: 15px;
    border: 1px solid #bbb;
}

.RTL .OverviewLarge div.Flag {
    left: auto;
    right: -10px;
}

.OverviewLarge div.UnreadArticles {
    position: absolute;
    left: 4px;
    top: 60px;
}

.RTL .OverviewLarge div.UnreadArticles {
    left: auto;
    right: 4px;
}

.OverviewLarge li:hover span.UnreadArticles {
    background-position: 0 -40px;
}

.OverviewLarge .Infos {
    width: 40%;
    float: left;
}

.RTL .OverviewLarge .Infos {
    float: right;
}

.OverviewLarge div.Content.ShowInlineActions .Infos {
    margin-top: -20px;
}

.OverviewLarge h2 {
    width: 90%;
    height: 15px;
    margin: 0 10px 5px 50px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.RTL .OverviewLarge h2 {
    margin: 0 50px 5px 10px;
}

.OverviewLarge h2 a {
    color: #000;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.OverviewLarge .Infos table {
    margin: 0 10px 0 50px;
    table-layout: fixed;
    width: 75%;
}

.RTL .OverviewLarge .Infos table {
    margin: 0 50px 0 10px;
}

.OverviewLarge .Infos table tr.Last td {
    padding: 0 0 0 10px;
}

.OverviewLarge .Infos table tr.Middle {
    border-top: 1px dotted #CCC;
}

.OverviewLarge .Infos table tr.Middle td {
    padding-top: 10px;
}

.OverviewLarge .Infos table td {
    width: 50%;
    padding: 0 0 8px 10px;
    overflow: hidden;
    border-left: 1px dotted #CCC;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.OverviewLarge .Infos table td > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.OverviewLarge .Infos table td:first-child {
    padding: 0 0 8px 0;
    border-left: none;
}

.OverviewLarge .Infos table tr.Last td:first-child {
    padding: 0;
}

.OverviewLarge .Infos table td label {
    display: block;
    color: #888;
    font-weight: bold;
}

.OverviewLarge .Preview {
    width: 60%;
    float: right;
}

.RTL .OverviewLarge .Preview {
    float: left;
}

.OverviewLarge .Preview > ul {
    margin: 0 5px 2px;
    background-color: #FFF;
    border: 1px solid #ccc;
}

.OverviewLarge .Preview li {
    border: none;
    min-height: 0;
}

.OverviewLarge .Preview h3 {
    margin: 0;
    font-size: 12px;
    background: #E8E8E8;
    border: 1px solid #E1E1E1;
}

.OverviewLarge .Preview li.Active h3 {
    background: #e0e0e0;
    border-color: #D7D7D7;
}

.RTL .OverviewLarge .Preview li.Active h3 {
    margin-left: 0;
    margin-right: -1px;
}

.OverviewLarge .Preview h3 a {
    height: 17px;
    padding: 0 4px;
    line-height: 16px;
    color: #A3A09B;
    display: block;
    overflow: hidden;
}

.OverviewLarge li:hover .Preview h3 a {
    color: #5E584F;
}

.OverviewLarge .Preview li.Active h3 a {
    color: #000;
}

.OverviewLarge li:hover .Preview li.Active h3 a {
    color: #0E0E0E;
}

.OverviewLarge .Preview h3 .Subject {
    color: #0F0F0F;
}

.OverviewLarge .Preview h3 .Headline {
    float: left;
}

.RTL .OverviewLarge .Preview h3 .Headline {
    float: right;
}

.OverviewLarge .Preview h3 span.DateTime {
    float: right;
}

.RTL .OverviewLarge .Preview h3 span.DateTime {
    float: left;
}

.OverviewLarge .Preview li div.HiddenBlock {
    display: none;
    border-right: 1px solid #E8E8E8;
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto;
}

.OverviewLarge .Preview li.Active div.HiddenBlock {
    display: block;
}

.OverviewLarge .Preview li div.HiddenBlock div.Content {
    padding: 5px;
    line-height: 1.3;
    border: none;
}

.OverviewLarge .Preview .ArticleCount5 li div.HiddenBlock div.Content {
    height: 124px;
}

.OverviewLarge .Preview .ArticleCount4 li div.HiddenBlock div.Content {
    height: 144px;
}

.OverviewLarge .Preview .ArticleCount3 li div.HiddenBlock div.Content {
    height: 164px;
}

.OverviewLarge .Preview .ArticleCount2 li div.HiddenBlock div.Content {
    height: 184px;
}

.OverviewLarge .Preview .ArticleCount1 li div.HiddenBlock div.Content {
    height: 204px;
}

.OverviewLarge .Preview .ArticleCount5 li div.HiddenBlock div.ActionRow + div.Content {
    height: 97px;
}

.OverviewLarge .Preview .ArticleCount4 li div.HiddenBlock div.ActionRow + div.Content {
    height: 117px;
}

.OverviewLarge .Preview .ArticleCount3 li div.HiddenBlock div.ActionRow + div.Content {
    height: 137px;
}

.OverviewLarge .Preview .ArticleCount2 li div.HiddenBlock div.ActionRow + div.Content {
    height: 157px;
}

.OverviewLarge .Preview .ArticleCount1 li div.HiddenBlock div.ActionRow + div.Content {
    height: 177px;
}


} /* end @media */
