/**
 * This file containts the CSS Styles for the header
 * with it's toolbar, the userbar and the whole main navigation
 *
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     Header
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  Header
 */
#Header {
    height: 72px;
    padding: 10px 0 12px;
    background: linear-gradient(to bottom, #0068A9 0%, #99C8E0 1%, #B2D6E8 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #0068A9 0%, #99C8E0 1%, #B2D6E8 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom: 1px solid #CCC;
    color: #AAA;
    position: relative;
    z-index: 10;
}

/**
 * @subsection  Logo
 */
#Logo {
    top: -34px !important;
    right: 11px !important;
    width: 180px !important;
    height: 120px !important;
    background: url(../img/logo_arvato.png) no-repeat;
    position: absolute;
}

.RTL #Logo {
    right: auto;
    left: 38px;
}


/**
 * @subsection  Toolbar
 */
#ToolBar {
    left: 10px;
    top: 10px;
    position: absolute;
}

#ToolBar:last-child {
    margin-left: 0px;
}

.RTL #ToolBar {
    float: right;
}

#ToolBar li {
    width: 24px;
    height: 34px;
    margin: 0 5px;
    float: left;
    position: relative;
}

.RTL #ToolBar li {
    float: right;
}

#ToolBar li.Extended {
    width: auto;
}

#ToolBar li.Extended form * {
    float: left;
}

#ToolBar li.Extended form select {
    margin-top: 1px;
}

#ToolBar a {
    height: 20px;
    width: 24px;
    text-indent: -9999px;
    position: relative;
    display: block;
    color: #1983BA;
}

#ToolBar a i {
    display: block !important;
    font-size: 18px;
    font-style: normal;
    font-weight: normal !important;
    padding: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 0 #7FBAD8;
    width: 24px;
    position: relative;
    top: -9px;
}

#ToolBar a i.icon-small {
    font-size: 12px !important;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -3px;
    width: 15px;
    display: none !important;
}

#ToolBar .New .icon-small.icon-show-new {
    display: block !important;
}

#ToolBar .Reached .icon-small.icon-show-reached {
    display: block !important;
}

#ToolBar a span.Counter {
    bottom: -14px;
    color: #686868;
    display: block;
    font-size: 11px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    text-align: center;
    text-indent: 0 !important;
    width: 24px;
}

/**
 * @subsection      Navigation Level-0
 */

#NavigationContainer {
    position: absolute;
    top: 55px;
    left: 10px;
    z-index: 20;
    width: 98%;
    height: 35px;
    overflow: hidden;
}

#NavigationContainer #Navigation {
    left: 0px;
    position: absolute;
}

.RTL #NavigationContainer {
    left: auto;
    right: 10px;
}

#NavigationContainer > a {
    background: #AAA;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    height: 34px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    width: 20px;
    z-index: 100;
}

#NavigationContainer > a.NavigationBarNavigateRight {
    right: 0px;
}

#NavigationContainer > a.NavigationBarNavigateLeft {
    left: 0px;
}

#NavigationContainer > a:hover {
    padding-top: 1px;
    padding-left: 1px;
    width: 19px;
    height: 33px;
}

#NavigationContainer > a i {
    margin-top: 10px;
    display: block;
}

#NavigationContainer > .fa-check {
    position: absolute;
    font-size: 15px;
    top: 8px;
    color: #CCC;
    display: none;
}

/**
 * @subsection      Main hover effect
 */
#Navigation > li {
    float: left;
    position: relative;
    background: #1983BA;
    margin-right: 1px;
    border-bottom: 5px solid #1983BA;
}

#Navigation > li > a {
    display: block;
    height: 21px;
    padding: 8px 15px 0px 7px;
    font-size: 12px;
    line-height: 12px;
    color: #FFF;
    font-weight: bold;
}

#Navigation > li > a#GlobalSearchNav {
    padding-right: 21px;
}

#Navigation > li > a#GlobalSearchNav i {
    font-size: 15px;
    margin-top: 5px;
}

.RTL #Navigation > li > a {
    padding: 4px 4px 3px 15px;
}

.RTL #Navigation > li > a#GlobalSearchNav {
    padding-right: 4px;
    padding-left: 26px;
}

#Navigation > li:hover {
    cursor: pointer;
    border-color: #00609C;
}

#Navigation > li:hover > a,
#Navigation > li:active > a {
    color: #FFF;
}

#Navigation > .Selected {
    border-color: #0068A9;
    z-index: 90;
    background: #0068A9;
}

#Navigation > .Selected > a {
    color: #FFF;
}

/**
 * @subsection      Search icon
 */
#Navigation .Search {
    width: 16px;
}

#Navigation a i {
    top: 2px;
    left: 15px;
    font-size: 20px;
    position: absolute;
}

/**
 * @subsection      Navigation Second level
 */

#Navigation > li > ul {
    display: none;
}

#Navigation > .Active > ul {
    position: absolute;
    top: 35px;
    left: 0px;
    display: block;
    min-width: 240px;
    z-index: 99;
    background: #1983BA;
    -webkit-box-shadow: 3px 3px 15px 1px #0068A9;
    box-shadow: 3px 3px 15px 1px #0068A9;
    box-radius: 15px;
}

.RTL #Navigation > .Active > ul {
    left: auto;
    right: -9px;
}

#Navigation > .Active > ul > li {
    font-size: 11px;
    line-height: 11px;
    margin-top: -1px;
    position: relative;
}

#Navigation > .Active > ul > li:hover {
    background: #0068A9;
}

#Navigation > .Active > ul > li:hover > a {
    color: #FFF;
}

#Navigation > .Active > ul > li > a {
    display: block;
    position: relative;
    color: #FFF;
    padding: 6px 10px 7px 8px;
    border-bottom: 1px solid #0068A9;
}

#Navigation > .Active > ul > li:last-child > a {
    border-bottom: none;
}

} /* end @media */
