/**
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     Tables
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  General stuff
 */

/*
 * FF3.6 has a problem with setting the position:relative only on :hover state.
 * As a workaround it is set always and a special z-index on hover.
 */
.DataTable tbody tr,
.TableSmall tbody tr {
    position: relative;
}

.DataTable tbody tr:hover,
.TableSmall tbody tr:hover {
    z-index: 10;
}

.DataTable tbody td.Last,
.TableSmall tbody td.Last {
    border-right: none;
}

.DataTable tbody tr:hover td,
.TableSmall tbody tr:hover td,
.DataTable tbody tr:active td.Clickable,
.TableSmall tbody tr:active td.Clickable {
    background: #0068A9;
}

/**
 * @subsection  Generic table elements
 */
tbody tr.UnreadArticles td {
    font-weight: bold !important;
}

.DataTable td,
.TableSmall td {
    line-height: 15px;
    vertical-align: middle;
}

.DataTable tr:hover,
.TableSmall tr:hover {
    color: #FFF;
}

table tr.MasterAction {
    cursor: pointer;
}

/**
 * @subsection  Standard DataTable
 */
.DataTable {
    width: 100%;
    background-color: #FDFDFD;
    border: 1px solid #ddd;
    clear: both;
    border-collapse: separate;
}

.DataTable.VariableWidth {
    width: auto;
}

.DataTable thead {
    background: #eeeeee;
}

.DataTable thead th {
    padding: 4px 10px 3px;
    color: #4B4B4B;
    font-size: 11px;
    text-transform: uppercase;
    background: #eee;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #CCC;
    vertical-align: bottom;
    white-space: nowrap;
}

.DataTable thead th.UnreadArticles {
    padding: 4px 0px 3px 0px;
    text-align: center;
}

.RTL .DataTable thead th {
    border-left: 1px solid #CCC;
    border-right:none;
}

.DataTable thead th label {
    color: #4B4B4B !important;
}

.DataTable thead th.Last {
    border-right: none;
}

.RTL .DataTable thead th.Last {
    border-left: none;
}

.DataTable thead th a {
    background-image: none;
    color: #444;
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    display: block;
}

.DataTable thead .SortAscending a,
.DataTable thead .SortDescending a {
    color: #2A2A2A;
    padding-right: 15px;
    background: #ccc;
}

.DataTable thead .SortDescending > a:after,
.TableSmall thead .SortDescending > a:after {
    content: "\25BC";
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
}

.DataTable thead .SortAscending > a:after,
.TableSmall thead .SortAscending > a:after {
    content: "\25B2";
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
}

.DataTable tbody tr.Invalid {
    color: #CCC;
}

.DataTable tbody td {
    padding: 0 10px;
    border-right: 1px dotted #CCC;
}

.DataTable tbody td.UnreadArticles {
    padding: 0px;
}

.RTL .DataTable tbody td {
    border-left: 1px dotted #CCC;
    border-right: none;
}

.DataTable tbody tr:hover td {
    border-right-color: #fff;
}

.DataTable tbody td.Last {
    border-right: none;
}

.DataTable tbody td:last-child {
    border-right: none;
}

.RTL .DataTable tbody td.Last {
    border-left: none;
}

.RTL .DataTable tbody td:last-child {
    border-left: none;
}

.DataTable tr td {
    line-height: 20px;
}

.DataTable tr:first td {
    border-top: 1px solid #EEE;
}

.DataTable tr td.Highlight {
    background-color: #EEE;
}

.DataTable tr.Even td {
    background-color: #E7E7E7;
}

.DataTable tr:nth-child(even) td {
    background-color: #E7E7E7;
}

.DataTable tr.Even td.Highlight {
    background-color: #E5E5E5;
}

.DataTable tr:nth-child(even) td.Highlight {
    background-color: #E5E5E5;
}

.DataTable tr:hover td a {
    color: #FFF;
}

.DataTable td:first-child input {
    margin: 0;
}


/**
 * @subsection  QueueOverviewTotals DataTable
 */

.DataTable thead th.QueueOverviewTotals,
.Row td.QueueOverviewTotals,
.Row a.QueueOverviewTotals {
    font-weight: bold;
}

.DataTable .Row td.QueueOverviewTotals {
    text-transform: uppercase;
    color: #4B4B4B;
    border-top: 1px dotted #CCCCCC;
}

/**
 * @subsection  Sortable DataTable
 */

.Sortable.DataTable th {
    padding: 0;
}

.Sortable.DataTable th a,
.Sortable.DataTable th span {
    padding: 4px 10px 3px;
    display: block;
    position: relative;
}

.Sortable.DataTable th.SortAscending a,
.Sortable.DataTable th.SortDescending a {
    padding-left: 15px;
}

.Sortable.DataTable .SortAscending,
.Sortable.DataTable .SortDescending {
    border-top-color: #DDD;
    border-right-color: #AAA;
    border-bottom-color: #999;
}

/**
 * @subsection  Overview Small View Table
 */
.TableSmall {
    width: 100%;
    font-size: 12px;
    color: #303030;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #FFF;
}

.TableSmall thead {
    border-bottom: none;
}

.TableSmall .Checkbox {
    margin-left: 7px;
}

th.Checkbox,
td.Checkbox {
    width: 30px;
}

th.Flags {
    width: 34px;
}

td.Flags {
    width: 29px;
}

th.UnreadArticles,
td.UnreadArticles {
    width: 30px;
}

th.Direction,
td.Direction {
    width: 30px;
    text-align: center;
}

th.Attachment,
td.Attachment {
    width: 40px;
    padding-left: 5px !important;
}

.TableSmall thead th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
    background: #EEEEEE;
}

.TableSmall thead th:last-child {
    border-right: 0px;
}

.TableSmall thead th a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.RTL .TableSmall thead th {
    background-position: left bottom;
}

.TableSmall thead a,
.TableSmall thead span {
    margin: 0 2px 1px 1px;
    padding: 0 10px;
    color: #4A4A4A;
    font-size: 11px;
    line-height: 15px;
    height: 15px;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
}

.RTL .TableSmall thead a,
.RTL .TableSmall thead span {
    margin: 0 1px 1px 2px;
}

.TableSmall thead span {
    color: #000;
}

.TableSmall thead .UnreadArticles a {
    padding: 0 0 0 5px;
}

.RTL .TableSmall thead .UnreadArticles a {
    padding: 0 5px 0 0;
}

.TableSmall thead span.UnreadArticles a i {
    font-size: 12px;
}

.TableSmall thead span.UnreadArticles i:first-child {
    font-size: 16px !important;
}

thead .SortAscending a,
thead .headerSortUp a,
thead .SortDescending a,
thead .headerSortDown a {
    color: #000;
}

.TableSmall thead a span,
.DataTable thead a span {
    height: 15px;
    width: 16px;
    display: block;
    text-align: center;
}

.TableSmall thead a span.Flag {
    height: 9px;
    width: 16px;
    background-color: #999;
    margin-top: 6px;
}

.TableSmall td {
    padding: 0 10px;
    background-color: #FDFDFD;
    border-right: 1px dotted #CCC;
}

.RTL .TableSmall td {
    border-right:none;
    border-left: 1px dotted #CCC;
}

.TableSmall td.NonTextContent {
    padding-left: 0;
    padding-right: 0;
}

.TableSmall tbody tr.Active td,
.DataTable tbody tr.Active td {
    color: #1A1A1A;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.DataTable tbody tr.Active td {
    background-color: #e5e5e5;
}

.TableSmall tbody tr td:last-child {
    border-right: 1px solid transparent;
}

.TableSmall tbody tr td.Last {
    border-right: 1px solid transparent;
}

.RTL .TableSmall tbody tr td.Last {
    border-left: none;
}

.TableSmall tbody tr.Active td:last-child {
    border-right: 1px solid #000;
}

.TableSmall tbody tr.Active td.Last {
    border-right: 1px solid #000;
}

.RTL .TableSmall tbody tr td:first-child {
    border-left: 1px dotted #CCC;
}

.TableSmall tbody tr.Active td:first-child {
    border-left: 1px solid #000;
}

.TableSmall td a {
    color: #303030;
}

.TableSmall tr:hover td a,
.TableSmall tr.Active td a {
    color: #FFF;
}

.TableSmall td a.DynamicFieldLink {
    color: #002749;
}

.TableSmall tr:hover td a.DynamicFieldLink,
.TableSmall tr.Active td a.DynamicFieldLink {
    color: #FFFFFF;
}

.TableSmall tr.Even td {
    background-color: #F5F5F5;
}

.TableSmall tr:nth-child(even) {
    background-color: #F5F5F5;
}

.TableSmall td:first-child {
    padding-top: 1px;
}

.TableSmall tbody .Flags {
    line-height: 11px;
    padding-top: 2px;
    padding-left: 5px;
}

.TableSmall tbody td span.Direction,
.DataTable tbody td span.Direction {
    text-align: center;
    display: block;
    position: relative;
    font-size: 14px;
    width: 30px;
}

.TableSmall tbody td span.Direction i,
.DataTable tbody td span.Direction i {
    color: #555;
}

.TableSmall tbody td span.Direction.Incoming .fa-long-arrow-left,
.DataTable tbody td span.Direction.Incoming .fa-long-arrow-left {
    position: absolute;
    left: auto;
    right: 4px;
    top: 4px;
    color: #000;
    font-size: 12px;
}

.TableSmall tbody td span.Direction.Outgoing .fa-long-arrow-right,
.DataTable tbody td span.Direction.Outgoing .fa-long-arrow-right {
    position: absolute;
    right: 2px;
    top: 4px;
    color: #000;
    font-size: 12px;
}

.TableSmall tbody td.Attachment,
.DataTable tbody td.Attachment {
    text-align: center;
}

.TableSmall tbody td a.Attachment,
.DataTable tbody td a.Attachment {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.TableSmall tbody td a.Attachment i,
.DataTable tbody td a.Attachment i {
    color: #000;
}

.TableSmall td h2 {
    font-size: 12px;
    margin-bottom: 0;
}

/**
 * @subsection  Table Context Settings
 */
.TableContextSettings {
    position: absolute;
    right: 0;
    top: 28px;
}

.TableContextSettings a {
    display: block;
    width: 18px;
    height: 19px;
    background: url(../img/contextsettings.png) no-repeat 5px 4px;
    text-indent: -9999px;
}

/**
 * @subsection  Ticket List Tables
 */

.TicketList {
    overflow: auto;
}

.TicketList table {
    border-collapse: separate;
    position: relative;
}

.TicketList td {
    line-height: 18px;
}

.TicketList .From div,
.TicketList .Subject div,
.TicketList td.Created a {
    height: 20px;
    overflow: hidden;
    display: block;
}

.TicketList .No {
    width: 42px;
}

.TicketList .Attachments {
    width: 20px;
}

#ArticleTable thead {
    background: #f0f0f0;
    background: -moz-linear-gradient(top,  #f0f0f0 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,  #f0f0f0 0%,#eaeaea 100%);
    background: -o-linear-gradient(top,  #f0f0f0 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top,  #f0f0f0 0%,#eaeaea 100%);
    background: linear-gradient(to bottom,  #f0f0f0 0%,#eaeaea 100%);
}

/**
 * @subsection  Handle for resizing tables
 */
.Handle {
    width: 100%;
}

.Handle a {
    display: block;
    margin: auto;
    height: 14px;
    width: 79px;
    background: transparent url(../img/handle.png) no-repeat;
    text-indent: -9999px;
    cursor: ns-resize;
}

.Handle.ui-resizable-s {
    cursor:auto;
    height:auto !important;
    left:auto;
}

.Handle.ui-resizable-handle {
    display: block;
    font-size: inherit;
    z-index: 19;
}



/**
 * @subsection  Table headers-filters
 */
 .TableSmall thead span.Gray {
    color: #444;
}

.DataTable .ColumnFilter {
    width: 80%;
    text-transform: none;
    float: left;
}

.ColumnFilter + .AJAXLoader {
    float: right;
    margin: 3px 0px 0px 2px;
    background-color: #eee;
    position: relative;
    z-index: 99;    
}

select.ColumnFilter {
    width: 100px;
}

.DataTable thead .SortAscendingLarge a,
.DataTable thead .SortDescendingLarge a,
.TableSmall thead .SortAscendingLarge a,
.TableSmall thead .SortDescendingLarge a {
    color: #2A2A2A;
    height: 16px;
    font-weight: bold;
    position: relative;
}

.DataTable thead .SortDescendingLarge > a:after,
.TableSmall thead .SortDescendingLarge > a:after {
    content: "\25BC";
    position: absolute;
    left: -6px;
    text-shadow: 1px 1px 0px #fff;
    z-index: 1;
}

thead .headerSortUp > a:before {
    content: "\25BC";
    display: inline-block;
    margin-right: 2px;
}

thead .headerSortDown > a:before {
    content: "\25B2";
    display: inline-block;
    margin-right: 2px;
}

.DataTable thead .SortAscendingLarge > a:after,
.TableSmall thead .SortAscendingLarge > a:after {
    content: "\25B2";
    position: absolute;
    left: -6px;
    text-shadow: 1px 1px 0px #fff;
    z-index: 1;
}

.DataTable thead th.DashboardHeader a,
.TableSmall thead th.OverviewHeader a,
.DataTable thead th.DashboardHeader span.Gray {
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
}

.DataTable thead th.DashboardHeader .ColumnSettingsTrigger,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger {
    display: block;
    width: 17px;
    height: 17px;
    float: right;
    opacity: 0.5;
    padding: 0px;
    margin: 0px -19px 0px 0px;
    position: relative;
    z-index: 2;
}

.DataTable thead th.DashboardHeader .ColumnSettingsTrigger i,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger i {
    color: #777777;
    margin-left: 4px;
    vertical-align: middle;
}

.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger {
    margin: 2px -18px 0px 0px;
}

.DataTable thead th.DashboardHeader.FilterActive .ColumnSettingsTrigger,
.DataTable thead th.DashboardHeader .ColumnSettingsTrigger:hover,
.DataTable thead th.DashboardHeader .ColumnSettingsTrigger.Active,
.TableSmall thead th.OverviewHeader.FilterActive .ColumnSettingsTrigger,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger:hover,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger.Active {

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    opacity: 1.0;
    box-shadow: 1px 1px 1px #a9a9a9 inset, -1px -1px 1px #a9a9a9 inset;
}

.DataTable thead th.DashboardHeader.FilterActive .ColumnSettingsTrigger i,
.DataTable thead th.DashboardHeader .ColumnSettingsTrigger.Active i,
.TableSmall thead th.OverviewHeader.FilterActive .ColumnSettingsTrigger i,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger.Active i {

    color: #333333;
}

.DataTable thead th.DashboardHeader .ColumnSettingsTrigger:after,
.TableSmall thead th.OverviewHeader .ColumnSettingsTrigger:after {
    content: "";
}

.DataTable thead th.DashboardHeader .ColumnSettingsContainer,
.TableSmall thead th.OverviewHeader .ColumnSettingsContainer {
    position: relative;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox {
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #CCCCCC, -1px -1px 3px #CCCCCC;
    display: none;
    padding: 8px 10px;
    position: absolute;
    right: -2px;
    top: -10px;
    width: 160px;
    z-index: 100;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox span.SelectedValue,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox span.SelectedValue {
    display: block;
    text-transform: none;
    margin-bottom: 8px;
    position: relative;
    padding: 4px;
    border: 1px solid #ccc;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox span.SelectedValue span,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox span.SelectedValue span {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox span.SelectedValue a,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox span.SelectedValue a {
    background: #AAAAAA;
    border-radius: 14px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 13px;
    left: 0;
    position: absolute;
    text-align: left;
    top: -1px;
    width: 10px;
    padding: 0px 0px 0px 5px;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox a.DeleteFilter,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox a.DeleteFilter {
    display: inline-block;
    font-size: 13px;
    line-height: 12px;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox a.DeleteFilter.Hidden,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox a.DeleteFilter.Hidden {
    display: none;
}

.DataTable thead th.DashboardHeader .ColumnSettingsBox span.SelectedValue a:hover,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox span.SelectedValue a:hover {
    background: #0068A9;
}

.DataTable thead th.OverviewHeader .ColumnSettingsBox input[type="text"] ,
.TableSmall thead th.OverviewHeader .ColumnSettingsBox input[type="text"] {
    width: 100px;
}


.DataTable thead th.DashboardHeader,
.TableSmall thead th.OverviewHeader {
    padding: 0px 20px 0px 1px;
}

.DataTable thead th.DashboardHeader.SortDescendingLarge,
.DataTable thead th.DashboardHeader.SortAscendingLarge,
.TableSmall thead th.OverviewHeader.SortDescendingLarge,
.TableSmall thead th.OverviewHeader.SortAscendingLarge {
    padding-left: 8px;
}

.DataTable thead span.Gray {
    height: 16px !important;
    display: block !important;
    padding-left: 10px;
    line-height: 12px;
}

.TableSmall .ColumnFilter {
    font-size: 10px;
    float: left;
}

/* Delete filters */
.ContextSettings.RemoveFilters a {
    display: block;
}

.ContextSettings.RemoveFilters a i {
    display: block !important;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.DataTable + p.SpacingTopSmall {
    text-align: center;
}

/**
 * @subsection  Package manager
 */

p.IntroInstall {
    width: 70%;
    padding-left: 10px;
    margin-bottom: 7px;
}

.OTRSVerifyLogoBig {
    float: right;
}

.OTRSVerifyLogo {
    display: block;
    float: right;
    margin: 3px 0px 0px 3px;
}

/**
 * @subsection  Icons in tables
 */

td i,
td a i {
    color: #999;
    margin-right: 3px;
}

tr:hover td i,
tr:hover td a i,
td a:hover i {
    color: #000;
}

} /* end @media */
