/**
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     OverviewMedium
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  Medium View Overview
 */
#TicketOverviewMedium {
    margin-top: 10px;
}

.OverviewMedium {
    margin: 0px 16px 8px 8px;
}

.RTL .OverviewMedium {
    margin-right: 8px;
    margin-left: 16px;
}

#EmptyMessageMedium {
   padding: 7px;
   border: 1px solid #DDD;
   min-height: 0px;
}

.OverviewMedium li {
    position: relative;
    border-bottom: 1px solid #C5C5C5;
    min-height: 105px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.OverviewMedium li:first-child {
    border-top: 1px solid #ddd;
}

.OverviewMedium li ul.InlineActions {
    position: absolute;
    top: -30px;
    right: 0px;
    height: 30px;
    background-color: #777;
    margin-right: 0px;
    padding-left: 5px;
    cursor: auto;
    transition: all ease-in 0.2s;
}

.OverviewMedium li:hover ul.InlineActions {
    top: 0px;
}

.OverviewMedium > li ul.InlineActions.Actions li:after {
    margin-top: 5px;
}

.OverviewMedium li ul.InlineActions li {
    height: auto;
    min-height: 0;
    border: none;
}

.OverviewMedium li ul.InlineActions li form {
    padding-top: 7px;
}

.OverviewMedium li ul.InlineActions li form select{
    font-size: 11px;
}

.OverviewMedium li ul.InlineActions li a {
    color: #fff;
    display: block;
    float: left;
}

.OverviewMedium li ul.InlineActions li.Even {
    background-color: transparent;
}

.OverviewMedium li ul.InlineActions li:nth-child(even) {
    background-color: transparent;
}

.OverviewMedium li div.Content {
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    position: relative;
    border-left: 5px solid #fff;
    overflow: hidden;
}

.OverviewMedium li:nth-child(even) div.Content {
    border-left-color: #F5F5F5;
}

.OverviewMedium li:hover div.Content,
.OverviewMedium li:hover {
    border-left-color: #0068A9 !important;
}

.OverviewMedium li.Last,
.OverviewMedium li:last-child {
    border-bottom: 1px solid #ddd;
}

.OverviewMedium li.Even {
    background-color: #F5F5F5;
}

.OverviewMedium li:nth-child(even) {
    background-color: #F5F5F5;
}

.OverviewMedium div.Checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    cursor: default !important;
}

.OverviewMedium div.Checkbox input {
    margin-top: 12px;
    margin-left: 8px;
}

.RTL .OverviewMedium input.Checkbox {
    left: auto;
    right: 0px;
}

.RTL .OverviewMedium div.Checkbox input {
    margin-left: 0px;
    margin-right: 8px;
}

.OverviewMedium div.Flag {
    top: 37px;
    left: 8px;
    position: absolute;
    width: 22px;
    height: 12px;
    border: 1px solid #bbb;
}

.RTL .OverviewMedium div.Flag {
    left: auto;
    right: 8px;
}

.OverviewMedium div.UnreadArticles {
    position: absolute;
    left: 4px;
    top: 60px;
}

.RTL .OverviewMedium div.UnreadArticles {
    left: auto;
    right: 4px;
}

.OverviewMedium li:hover span.UnreadArticles {
    background-position: 0 -40px;
}

.OverviewMedium h2 {
    margin-left: 45px;
    font-size: 14px;
    font-weight: bold;
    width: 97%;
}

.RTL .OverviewMedium h2 {
    margin-left: 0;
    margin-right: 45px;
}

.OverviewMedium h2 a {
    color: #000;
    display: block;
}

.OverviewMedium table.Infos {
    margin-top: 2px;
    margin-left: 45px;
    table-layout: fixed;
    width: 97%;
}

.RTL .OverviewMedium table.Infos {
    margin-left: 0;
    margin-right: 45px;
}

.OverviewMedium table.Infos tr.Last td {
    padding: 0 0 0 10px;
}

.RTL .OverviewMedium table.Infos tr.Last td {
    padding: 0 10px 0 0;
}

.OverviewMedium table.Infos td {
    width: 16.67%;
    padding: 0 10px 5px 10px;
    overflow: hidden;
    line-height: 16px;
    border-left: none;
    border-right: 1px dotted #CCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OverviewMedium table.Infos td > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OverviewMedium table.Infos td.Last {
    border-right: none;
}

.OverviewMedium table.Infos td:first-child {
    padding: 0 0 5px 0;
    border-left: none;
}

.RTL .OverviewMedium table.Infos td:first-child {
    padding: 0 10px 5px 10px;
}

.OverviewMedium table.Infos tr.Last td:first-child {
    padding: 0;
}

.RTL .OverviewMedium table.Infos tr.Last td:first-child {
    padding: 0 10px 5px 10px;
}

.OverviewMedium table.Infos td label {
    display: block;
    margin-bottom: 2px;
    color: #888;
    font-weight: bold;
}

.OverviewMedium div.DynamicFieldSeparator {
    border-bottom: 1px dotted #CCCCCC;
    margin-left: 2pc;
    margin-right: 2pc;
}

} /* end @media */
