/**
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     Application
 * @subsection  Admin
 */

@media screen,projection,tv,handheld {

/**
 * @subsubsection     General
 */

.MainBox > h1 {
    text-indent: -9999px;
    height: 1px;
}

.Admin .WidgetSimple > .Content {
    padding: 10px 0px 2px 2px;
}

.RTL .Admin .WidgetSimple > .Content {
    padding: 10px 2px 2px 0;
}

.Admin .Size1of2 {
    margin-bottom: 3px;
    position: relative;
}

.Admin .Size1of2 .AsBlock {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    position: absolute;
}

.RTL .Admin .Size1of2 .AsBlock {
    left: auto;
    right: 0;
}

.Admin .Size1of2 h4 {
    margin: 0 2px 0 0;
    padding: 5px 5px 4px;
    color: #282828;
    border: 1px solid transparent;
    border-bottom: none;
}

.RTL .Admin .Size1of2 h4 {
    margin: 0 0 0 2px;
}

.Admin .Size1of2 p {
    margin: 0 2px 0 0;
    padding: 0 5px 5px;
    line-height: 14px;
    border: 1px solid transparent;
    border-top: none;
}

.RTL .Admin .Size1of2 p {
    margin: 0 0 0 2px;
}

.Admin .Size1of2:hover h4,
.Admin .Size1of2:hover p {
    background: #FDFDFD;
    border-color: #DDD;
}

.Admin .Size1of2:hover h4 {
    color: #0068A9;
}

.WidgetSimple {
    border: 0px;
    margin: 0px 10px 15px 10px !important;
}

.WidgetSimple h4 {
    font-weight: normal;
}

.Header .Small {
    position: absolute;
    right: 0px;
    top: 4px;
    font-size: 11px;
    display: block;
    padding: 3px 4px;
    color: #333;
}

.Header .Small i {
    font-size: 10px;
}

/**
 * specific min-height for AdminNavigationBar rows
 */

#Row1 .WidgetSimple {
    min-height: 218px;
}

#Row2 .WidgetSimple {
    min-height: 304px;
}

} /* end @media */
@media print{

.Admin .Size1of2 h4 span {
    display:none;
}

} /* end @media print*/
