/**
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     Widgets
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  Widget Tablelike list
 */
ul.Tablelike {
    border: 1px solid #CCC;
}

ul.Tablelike:first-child {
    margin-right: 8px;
}

.RTL .Size1of3:first-child ul.Tablelike {
    margin-left: 8px;
    margin-right: 0;
}

.StrikeThrough a {
    text-decoration: line-through;
}

ul.Tablelike li {
    line-height: 20px;
    padding: 0 4px;
    min-height: 20px;
    background-color: #FFF;
}

ul.Tablelike li.OneRow,
ul.Tablelike li.OneRow .AsBlock {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.Tablelike li:nth-child(even) {
    background-color: #F5F5F5;
}

ul.Tablelike li:hover {
    background: #FCB24B;
}

ul.Tablelike li:hover a {
    color: #000;
}

ul.Tablelike li.Header {
    color: #4B4B4B;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    background: #eeeeee;
    border-top: 1px solid #FFF;
}

ul.Tablelike + ul.Tablelike.AllocationList {
    border-top: 0px;
}

ul.Tablelike li.Header + li {
    border-top: 1px solid #EEE;
}

/**
 * @subsection  WidgetSimple
 */

.LayoutPopup .Content > .WidgetSimple:last-child {
    margin-bottom: 0px;
}

.WidgetSimple {
    margin-bottom: 15px;
    background: #f5f5f5;
}

.WidgetSimple.MobileNotAvailableWidget {
    display: none;
}

.WidgetSimple .WidgetSimple {
    background: #F2EFEF;
    border: 1px solid #ddd;
    margin: 15px 10px;
}

.WidgetSimple .WidgetSimple .WidgetSimple {
    background: #f5f5f5;
}

.WidgetSimple .WidgetSimple .WidgetSimple h2 {
    font-size: 12px;
}

.WidgetSimple > .Header,
.WidgetSimple.Collapsed.AnimationRunning > .Header {
    padding: 2px 5px 2px 5px;
    position: relative;
    background-color: #e8e8e8;
}

.WidgetSimple.Collapsed > .Header {
    border-bottom: none;
}

.WidgetSimple > .Header h2,
.WidgetSimple > .Header h3 {
    padding: 4px 3px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.WidgetSimple > .Content {
    padding: 8px 8px 10px;
    overflow: auto;
    /**
     *   START IE9 Hover Bug Workaround
     *   The problem occurs when you have a container that has a fixed width set, an overflow set to
     *   auto, content long enough to trigger the horizontal scroll and a hover style set
     *   on elements inside the container.
     *   The container mysteriously increases in size.
     *   (e.g. if you have installed OTRSDashboardOverviewFilters and many dynamic fields are
     *   shown in the dashboard.)
     */
    min-height: 0%;
    /* END IE9 Hover Bug Workaround */
}

.WidgetSimple > .Content.OverflowVisible {
    overflow: visible;
}

.WidgetSimple.QueueOverview > .Content {
    padding-bottom: 2px;
}

.WidgetSimple.Collapsed > .Content {
    display: none;
}

.WidgetSimple .WidgetSettingsForm fieldset {
    margin-bottom: 0px;
}

.WidgetSimple .Field.LayoutGrid {
    padding-top: 7px;
}

.WidgetSimple .Field.LayoutGrid .Tablelike {
    width: 98%;
}

.WidgetSimple .Buttons {
    border-top: 1px solid #ccc;
    margin: 15px -8px -10px -8px;
    padding: 10px 10px 9px 10px;
    text-align: center;
    font-size: 11px;
}

.WidgetSimple .Buttons.NoMargin {
    margin-top: 5px;
}

.WidgetSimple .Field.LayoutGrid .AllocationList {
    max-height: 192px;
}

.WidgetSimple .Field.LayoutGrid .AllocationList.OrderNumbers {
    list-style: decimal inside;
}

/**
 * @subsection Widgets as notices
 */

.WidgetNotice {
    background-color: #F39C19
}

.WidgetNotice .Content {
    border: 1px solid #F6AF2F;
    color: #442A0B;
    font-weight: bold;
    padding-bottom: 8px;
    line-height: 140%;
}

/**
 * @subsection AJAX Loader
 */

.Loading > .Header h2 {
    background: url("../img/loader.gif") no-repeat right center;
}

.RTL .Loading > .Header h2 {
    background: url("../img/loader.gif") no-repeat left center;
}

/**
 * @subsection  WidgetBox
 */
.WidgetBox > .Header h2 {
    font-size: 14px;
    margin-left: 5px;
}

.RTL .WidgetBox > .Header h2 {
    margin-left: 0;
    margin-right: 5px;
}

.WidgetBox > .Header .WidgetAction + h2 {
    margin: 0;
    padding-left: 30px;
    padding-right: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RTL .WidgetBox > .Header .WidgetAction + h2 {
    padding-left: 200px;
    padding-right: 30px;
}

.WidgetBox > .Header h2 + h3 {
    background-color: #EEE;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #BBB;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    color: #333;
}

.RTL .WidgetBox > .Header h2 + h3 {
    padding: 5px 10px 5px 5px;
}

.WidgetBox > .Content {
    background: #ffffff;
    min-height: 200px;
    border-left: 1px solid #C6C5C4;
    border-right: 1px solid #C6C5C4;
    border-bottom: 1px solid #C6C5C4;
}

.Collapsed > .Content {
    display: none;
}

.WidgetBox > .Content.AutoHeight {
    min-height: 0;
}

/**
 * @subaction   ActionMenu
 */

.ActionMenu {
    top: 4px;
    right: 3px;
    padding-left: 3px;
    position: absolute;
    display: none;
}

.RTL .ActionMenu {
    right: auto;
    left: 0;
    padding: 0 2px 0 0;
    border-left: none;
    border-right: 1px solid #DDD;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2px;
}

.Header:hover .ActionMenu {
    display: block;
}

/**
 * @subsection  WidgetActions
 */

.WidgetAction {
    height: 19px;
    width: 16px;
    padding-right: 1px;
    float: left;
    text-align: center;
}

.RTL .WidgetAction {
    padding: 0 0 0 1px;
    float: right;
}

.WidgetAction a {
    font-size: 14px;
    height: 20px;
    display: block;
}

.WidgetAction.Toggle,
.Expanded.AnimationRunning > .Header > .WidgetAction.Toggle {
    height: 13px;
    width: 12px;
    margin: 5px 0px 5px 2px;
    float: left;
}

.WidgetAction.Toggle i {
    font-size: 17px;
    position: absolute;
    left: 7px;
    top: 2px;
    color: #555 !important;
}

.Expanded > .Header > .WidgetAction.Toggle i.fa-caret-right {
    display: none !important;
}

.Collapsed > .Header > .WidgetAction.Toggle i.fa-caret-down {
    display: none !important;
}

.Header:active > .WidgetAction.Toggle {
    background-position: 0 -13px;
}

.Expanded > .Header > .WidgetAction.Toggle,
.Collapsed.AnimationRunning > .Header > .WidgetAction.Toggle {
    background-position: 0 -26px;
}

.RTL .WidgetAction.Toggle {
    margin: 5px 2px 5px 6px;
    float: right;
}

.WidgetAction.Toggle a {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

/* Settings */
.WidgetAction i {
    color: #bbb;
    display: block !important;
    margin: 2px 0px 0px 2px;
    vertical-align: middle;
}

.WidgetAction:hover i {
    color: #000;
}

.WidgetTooltip {
    background-color: #fff;
    position: absolute;
    width: 125px;
    top: 20px;
    right: 0px;
}

ul.WidgetTooltip {
    width: 170px;
    right: -3px;
    top: 21px;
    background: rgba(216, 216, 216, 0.85);
}

ul.WidgetTooltip li {
    padding: 7px 13px 2px 23px;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #ccc;
}

ul.WidgetTooltip li i {
    position: absolute;
    left: 6px;
    top: 7px;
    color: #aaa !important;
}

ul.WidgetTooltip li:last-child {
    border-bottom: 0px;
}

ul.WidgetTooltip li a {
    color: #333;
}

ul.WidgetTooltip li a:hover {
    text-decoration: underline;
}

ul.WidgetTooltip li a:hover i {
    color: #333 !important;
}

.WidgetTooltip a {
    padding: 0px;
    line-height: 150%;
    font-size: 11px;
}

/**
 * @subsection      Call for action buttons and search form
 */

.ActionList li {
    margin-bottom: 7px;
}

.ActionList li.Separated {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.ActionList li:last-child {
    margin-bottom: 0px;
}

.ActionList p {
    margin: 0;
    padding: 2px 2px 5px;
    font-size: 11px;
    color: #888;
}

.WidgetSimple .ActionList select {
    margin: 0px auto;
    padding: 2px 3px;
    display: block;
    width: 240px;
}

.WidgetSimple .ActionList select + .FieldExplanation {
    margin-top: 2px;
}

.WidgetSimple .ActionList .CallForAction ~ select {
    margin-top: -5px;
}

.CallForAction, .cke_dialog_footer_buttons a.cke_dialog_ui_button {
    padding: 0px;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    display: inline-block;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.CallForAction:disabled {
    cursor: default;
}

.cke_dialog_footer_buttons a.cke_dialog_ui_button {
    font-weight: bold !important;
}

.cke_dialog_footer_buttons a.cke_dialog_ui_button:hover {
    background-color: #e5e5e5;
    border-color: #999;
}

.CallForAction.Hidden {
    display: none;
}

.CallForAction.LittleSpacingTop {
    margin-top: 5px;
}

.ActionList li a.Fullsize, .CallForAction.Fullsize {
    display: block;
}

.CallForAction.Fullsize {
    width: 248px;
    text-align: center;
}

.CallForAction.Fullsize + .FieldExplanation {
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 5px;
}

/**
 * @css-for     Firefox
 * @note        bug: button containing an element has an hidden padding
 */

.CallForAction::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.CallForAction:hover {
    color: #000;
    border-color: #aaa;
}

.CallForAction span,
.cke_dialog_footer_buttons td a.cke_dialog_ui_button span {
    min-height: 12px;
    padding: 3px 7px 6px;
    line-height: 14px;
    vertical-align: middle;
    color: #333;
    font-size: 11px;
    border: 1px solid #FFF;
    border-bottom: none;
    display: block;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    position: relative;
}

.CallForAction.Fullsize span {
    padding: 3px 20px 5px 20px;
}

.CallForAction:disabled span {
    color: graytext !important;
    cursor: default;
}

.cke_dialog_footer_buttons td a.cke_dialog_ui_button span {
    font-size: 11px;
    line-height: auto;
    color: #000;
    font-weight: bold;
}

.CallForAction span i {
    position: relative;
    left: 0px;
    top: 1px;
    font-size: 13px;
    width: 15px;
    text-align: center;
}

.CallForAction.Fullsize.Center span i {
    position: absolute;
    left: 4px;
    top: 4px;
}

.CallForAction:active,
.CallForAction:hover {
    background-color: #e5e5e5;
    border-color: #999;
}

.CallForAction.Disabled {
    background: #eee !important;
    border: 1px solid #ccc !important;
    border-bottom: 1px solid #bbb !important;
}

.CallForAction.Disabled, .CallForAction.Disabled span {
    color: #999;
    cursor: default;
}

input.FilterBox {
    padding: 4px 5px;
    width: 238px;
}

.SearchBox {
    position: relative;
    margin-bottom: 3px;
}

.SearchBox input[type='text'] {
    height: 15px;
    margin: 0px;
    padding: 4px 5px;
    font: normal 12px/15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-color: #999;
    border-right: none;
    vertical-align: bottom;
    width: 213px;
}

.RTL .SearchBox input[type='text']{
    border-left: none;
    border-right: 1px solid #999;
}

.SearchBox input:focus {
    border-color: #666;
    border-right: none;
}
.RTL .SearchBox input:focus {
    border-color: #666;
    border-left: none;
}

.SearchBox button {
    height: 25px;
    width: 25px;
    margin: 0 0 0 -4px;
    padding: 3px 3px 4px;
    color: #333;
    font: bold 11px/14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f2f2f2;
    border: 1px solid #888;
    text-shadow: 0 1px 0 #FFF;
    vertical-align: baseline;
}

.RTL .SearchBox button {
    height: 25px;
    margin: 0 -4px 0 0;
    text-shadow: 0 1px 0 #FFF;
    vertical-align: baseline;
    border-right: 1px solid #888;
}

.SearchBox button:hover {
    border-color: #696969;
    cursor: pointer;
}

.SearchBox button:active {
    padding: 4px 3px 3px;
    background: #e4e4e4;
    outline: none;
}

/**
 * @subsection      Drag and Drop
 */
.CanDrag .Header h2 {
    cursor: move;
}

.DropPlaceholder {
    border: 1px dashed #DDD;
    background: #EEE url(../img/dnd_placeholder_bg.png);
    margin-top: 5px;
    margin-bottom: 5px;
}

/**
 * @subsection      ProgressBar
 */
#ProgressBar {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    width: 950px;
}

.ProgressBarElements1 li {
    width: 950px;
}

.ProgressBarElements2 li {
    width: 474px;
}

.ProgressBarElements3 li {
    width: 316px;
}

.ProgressBarElements4 li {
    width: 237px;
}

.ProgressBarElements5 li {
    width: 189px;
}

.ProgressBarElements6 li {
    width: 158px;
}

.ProgressBarElements7 li {
    width: 135px;
}

/* Because of the minimum screen resolution of 1024px more than 7 elements are not possible at the moment */

#ProgressBar li {
    float: left;
    list-style: none;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #CCC;
    background-color: #EEE;
}

#ProgressBar li > span {
    display: block;
    background-image: url(../img/ProgressBarArrow.png);
    background-repeat: no-repeat;
    background-position: center right;
}

#ProgressBar li a {
    padding: 12px 7px 13px 12px;
    color: #484848;
    text-decoration: none;
    font: 13px/18px Helvetica Neue, sans-serif;
    display: block;
    height: 42px;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #F4F4F4;
    background: url(../img/ProgressBarIsolator.png) no-repeat left 6px;
    cursor: default;
    text-align: left;
}

#ProgressBar li span a span {
    color: #ABABAB;
    font-size: 11px;
    line-height: 12px;
    text-shadow: inherit;
    display: block;
}

#ProgressBar li:first-child, #ProgressBar li.First {
    border-left-width: 1px;
}

#ProgressBar li:first-child a, #ProgressBar li.First a {
    border-left-width: 1px;
    padding-left: 14px;
    background: none;
}

#ProgressBar li:last-child {
    border-right-width: 1px;
}

#ProgressBar li:last-child a {
    border-right-width: 1px;
    padding-right: 14px;
}

#ProgressBar .Highlighted {
    background-color: #fbb42c;
    border-top-color: #9b6937;
    border-bottom-color: #996634;
}

#ProgressBar li.Highlighted:first-child {
    border-left-color: #9b6937;
}

#ProgressBar li.Highlighted > span {
    background-image: url(../img/ProgressBarArrowActive.png);
}

#ProgressBar .Highlighted a {
    color: #562900;
    text-shadow: 0 1px 0 #FCD891;
    border-top-color: #ffeec8;
    border-bottom-color: #eaa350;
    cursor: pointer;
}

#ProgressBar .Highlighted.NoLink a {
    cursor: default;
}

#ProgressBar li:first-child.Highlighted a {
    border-left-color: #f2bf5c;
}

#ProgressBar .Highlighted span a span {
    color: #a14f00;
    text-shadow: 0 1px 0 #f5b04e;
}

#ProgressBar .Active {
    border-right: 1px solid #9b6937;
    position: relative;
    z-index: 2;
}

#ProgressBar .Active a {
    border-right: 1px solid #f2bf5c;
}

#ProgressBar .Active + li {
    margin-left: -2px;
    padding-left: 1px;
}

#ProgressBar .Active + .Active {
    z-index: 1;
}

#ProgressBar .Active + li a {
    background: none;
}

#ProgressBar .Visited {
    background-color: #DDD;
}

#ProgressBar .Visited.Active {
    border-right-color: #CCC;
}

#ProgressBar .Visited.Active a {
    border-right-color: #EEE;
}

/**
 * @subsection      Icon colors
 */

.CallForAction span i.fa-plus-square {
    color: #35A835;
}

.CallForAction span i.fa-rocket {
    color: #C4632F;
}
.CallForAction span i.fa-download,
.CallForAction span i.fa-upload {
    color: #2D6F9E;
}

/**
 * @subsection      Chat icons
 */

.UserChatIcons {
    float: right;
}

.UserChatIcons.Block {
    float: none;
    margin-top: 2px;
}

.UserChatIcons i {
    color: #999;
    margin-right: 3px;
}

.UserChatIcons .Unavailable i,
.UserChatIcons .Unsupported i {
    opacity: 0.4;
}

.UserStatusIcon {
    cursor: default;
    margin-right: 3px;
}

.UserStatusIcon.Inline {
    margin-right: 0;
}

.UserStatusIcon.Active i {
    color: #0a0;
}

.UserStatusIcon.Offline i {
    color: #000;
}

.UserStatusIcon.Unavailable i {
    color: #d00;
    opacity: 1;
}

.UserStatusIcon.Away i {
    color: #fb0;
}

} /* end @media */
