/**
 * @project     OTRS (http://www.otrs.org) - Agent Frontend
 * @copyright   OTRS AG
 * @license     AGPL (http://www.gnu.org/licenses/agpl.txt)
 */

/**
 * @package     Skin "Default"
 * @section     Default Settings
 */

@media screen,projection,tv,handheld {

/**
 * @subsection  Fonts
 */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    position: relative;
}

.RTL {
    text-align: right;
    /* this will inherit to all elemtents because of reset.css */
    direction: rtl;
}

#ViewModeSwitch {
    margin: 5px 0px;
}

/**
 * @subsection  Print elements - Only show when page is printed
 */
.PrintOnly {
    display: none;
}

/**
 * @subsection  Hidden elements - Elements that are hidden at first
 */
.Hidden {
    display: none;
}

.Invisible {
    visibility: hidden;
}

/**
 * @subsection      ARIA (Accessibility)
 * @subsubsection   AlertMessage
 * @note            This definition allows to create text on the page
 *                  which is not seen, but will be read by the screen reader.
 *                  display: none; cannot be used in this case.
 */

.ARIAAlertMessage {
    position: absolute;
    left: -10000px;
    right: auto;
    top: -10000px;
}

.RTL .ARIAAlertMessage {
    left: auto;
    right: -10000px;
}

/**
 * @subsection  ElementPool - Hide elements for later use with JavaScript
 */
#UIElementPool {
    display: none;
}

/**
 * @subsection  Links
 */

a {
    color: #F92;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #F72;
}

/**
 * @subsection  Headings
 */
h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    font-size: 14px;
    color: #474747;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

h4 {
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

h5 {
    color: #333;
    margin-bottom: 5px;
}

/**
 * @subsection  Paragraphs
 * @note        Use paragraphs instead of <div>s for text-only, multiline content!
 */
p {
    /* increase line-height for readability */
    line-height: 1.3em;
}

/**
 * @subsection  Code Examples
 */
code {
    font-family: monospace;
}

/**
 * @subsection  Text modifiers
 */
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/**
 * @subsection  Regular lists
 * @note        List elements (ul, ol) are being reset by default to avoid browser styling, so we
                need to define our own 'default' lists using a class.
 */

ul.Default {
    list-style-type: square;
    margin: 5px 0px;
    padding-left: 20px;
}

ul.Default li {
    line-height: 130%;
    margin-bottom: 3px;
}

/**
 * @subsection  Definition lists
 */
dl {
    margin: 5px 0;
}

dt {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3em;
    margin-top: 5px;
}

dd {
    line-height: 1.3em;
    margin-left: 15px;
    margin-right: 0;
}

.RTL dd {
    margin-left: 0;
    margin-right: 15px;
}

/**
 * @subsection  Text
 */
.Center {
    text-align: center;
}

.Left {
    text-align: left;
}

.Right {
    text-align: right;
}

.Error {
    color: #ff505e;
}

.Warning {
    color: #ff9050;
}

.Notice {
    color: #333;
}

.Confirmation {
    color: #069d07;
}

.Small {
    font-size: 90%;
}

/**
 * @note    Use the class InvisibleText to hide text from the screen,
 *          while it is still recognized and read by screen readers.
 */
.InvisibleText {
    width: 0;
    height: 0;
    display: inline-block;
    text-indent: -9999px;
    white-space: nowrap;
    position: absolute !important;
}

/**
 * @subsection  Spacings
 */
.Spacing {
    margin: 13px;
}

.SpacingTop {
    margin-top: 13px;
}

.SpacingTopSmall {
    margin-top: 8px;
}

.SpacingTopLarge {
    margin-top: 89px;
}

.SpacingBottom {
    margin-bottom: 13px;
}

.SpacingBottomMedium {
    margin-bottom: 34px !important;
}

.SpacingBottomLarge {
    margin-bottom: 89px;
}

.SpacingLeft {
    margin-left: 10px;
}

/**
 * @subsection  Indents
 */
.Indent {
    padding-left: 13px !important;
}

/**
 * @subsection  Box alignment
 */
.CenterBox {
    margin-left: auto !important;
    margin-right: auto !important;
}

/**
 * @subsection  Controlling the display: value
 * @note        This is especially helpful for links. When
 *              they have this class, the entire block will be clickable.
 */
.AsBlock {
    display: block;
}

/**
 * @subsection  Clear
 */
.Clear {
    float: none !important;
    clear: both !important;
}

.ClearLeft,
.RTL .ClearRight {
    float: none !important;
    clear: left !important;
}

.ClearRight,
.RTL .ClearLeft {
    float: none !important;
    clear: right !important;
}

/**
 * @subsection  MainBox
 */
.MainBox {
    position: relative;
    padding: 4px 16px 8px 8px;
}

.RTL .MainBox {
    padding: 4px 8px 8px 16px;
}

.OverviewBox {
    position: relative;
}

.MainBox > h1 {
    margin: 0;
    padding: 10px 8px 15px 8px;
    position: relative;
}

.MainBox > .AsteriskExplanation {
    padding-left: 8px;
    margin-bottom: 10px;
}

.RTL .MainBox > .AsteriskExplanation {
    padding-left: 0px;
    padding-right: 8px;
}

.AsteriskExplanation {
    color: #999;
}

.MainBox.FormScreen > h1,
.MainBox.FormScreen > .AsteriskExplanation {
    margin-left: 24%;
}

.MainBox.FormScreen.NoSidebar > h1,
.MainBox.FormScreen.NoSidebar > .AsteriskExplanation {
    margin-left: 30%;
}

.RTL .MainBox.FormScreen > h1,
.RTL .MainBox.FormScreen > .AsteriskExplanation {
    margin-right: 24%;
}

.RTL .MainBox.FormScreen.NoSidebar > h1,
.RTL .MainBox.FormScreen.NoSidebar > .AsteriskExplanation {
    margin-right: 30%;
}

.OverviewBox > h1 {
    margin: 10px 0px;
    padding: 8px 11px 7px;
    position: relative;
}

/**
 * @subsection  Bread crumb
 */

.BreadCrumb {
    list-style-type: none;
    margin: 0px 0px 15px 0px;
    padding: 10px;
    background: #eee;
    position: relative;
    padding-left: 0px;
    padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.RTL .BreadCrumb {
    padding-right: 10px;
    padding-left: 15px;
}

.BreadCrumb li {
    display: inline-block;
    margin: 0px 2px 0px 2px;
    padding-left: 35px;
    color: #777;
    position: relative;
    max-width: 200px;
    white-space: normal;
    vertical-align: middle;
}

.BreadCrumb li:first-child {
    padding-left: 20px;
}

.RTL .BreadCrumb li {
    padding-left: 0px;
    padding-right: 35px;
}

.BreadCrumb li:first-child:after,
.BreadCrumb li:first-child:before {
    display: none;
}

.BreadCrumb a {
    color: #000;
    padding: 0px 2px;
}

.BreadCrumb a:hover {
    border-bottom: 2px solid #FF9922;
}

.BreadCrumb li:before,
.BreadCrumb li:after {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 20px;
    margin-top: -20px;
}

.BreadCrumb li:after {
    left: 0px;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
}

.RTL .BreadCrumb li:after {
    border-left-color: transparent;
    border-right-color: #fff;
    left: auto;
    right: 0px;
}

.BreadCrumb li:before {
    left: -5px;
    border-color: rgba(238, 238, 238, 0);
    border-left-color: #eee;
    z-index: 2;
}

.RTL .BreadCrumb li:before {
    left: auto;
    right: -5px;
    border-right-color: #eee;
    border-left-color: transparent;
}

/**
 * @subsection  Standard Widths
 */
.W10pc {
    width: 10%;
}

.W20pc {
    width: 20%;
}

.W25pc {
    width: 25%;
}

.W33pc {
    width: 33%;
}

.W50pc {
    width: 50%;
}

.W60pc {
    width: 60%;
}

.W70pc {
    width: 70%;
}

.W75pc {
    width: 75%;
}

.W80pc {
    width: 80%;
}

.W90pc {
    width: 90%;
}

.W95pc {
    width: 95%;
}

.W100pc {
    width: 100%;
}

.W50px {
    width: 50px;
}

.W950px {
    width: 950px;
}

/**
 * @subsection  Customizable logos
 */
#LoginLogo {
    background: transparent url(../img/loginlogo_default.png) center no-repeat;
    background-size: contain;
    height: 100px;
}


/**
 * @subsection  MessageBox
 */

.MessageBox {
    margin: 5px 18px 0 10px;
    background: #F7AE40;
    position: relative;
    z-index: 1;
}

.MessageBox.WithIcon {
    padding-left: 20px;
}

.MessageBox.WithIcon > i {
    position: absolute;
    left: 12px;
    top: 12px;
}

.RTL .MessageBox {
    margin: -2px 10px 0 18px;
}

.MessageBox p {
    padding: 10px;
}

.MessageBox p,
.MessageBox a {
    color: #442A0B;
}

.MessageBox a:hover {
    text-decoration: underline;
}

.MessageBox > p + p {
    margin-top: 2px;
}

.MessageBox.Error {
    background: #F25C5C;
}

.MessageBox.Error p,
.MessageBox.Error a {
    color: #000;
}

.MessageBox.Confirmation {
    border-color: #049E35;
    background: #1AEE47;
}

.MessageBox.Confirmation p {
    border-color: #36F374;
}

.MessageBox.Confirmation p,
.MessageBox.Confirmation a {
    color: #044016;
}

.MessageBox p a:after {
    content: "\2192";
    display: inline-block;
    font-size: 15px;
}

.MessageBox.Info {
    background-color: #2A5464;
}

.MessageBox.Info p,
.MessageBox.Info a {
    color: #fff;
}

.MessageBox a.Button:after {
    content: "";
}

.MessageBox a.Button {
    display: inline;
    padding: 3px 7px;
}

.MessageBox a.Button:hover {
    text-decoration: none;
}

.MessageBox.Info a.Button {
    background-color: #3E6C7C;
}

.MessageBox.Info a.Button:hover {
    background-color: #4B7C8E;
}

.MessageBox.Info a.Button i {
    color: #89C6D1;
}

/**
 * @subsection  Flag
 */

.Flag.Small {
    width: 17px;
    height: 8px;
    margin: 0px auto;
}

.Flag span {
    display: block;
    height: 100%;
    text-indent: -9999px;
    cursor: pointer;
    /* set a default color for priorities */
    background-color: #cdcdcd;
}

.Flag span.Escalated {
    background-color:#ff505e;
}

.Flag span.New {
    background-color: #8bef4d;
}

.Flag span.Warning {
    background-color: #ffdd50;
}

.Flag span.PriorityID-1 {
    background-color:#03c4f0;
}

.Flag span.PriorityID-2 {
    background-color:#83bfc8;
}

.Flag span.PriorityID-3 {
    background-color:#cdcdcd;
}

.Flag span.PriorityID-4 {
    background-color:#ffaaaa;
}

.Flag span.PriorityID-5 {
    background-color:#ff505e;
}

/**
 * @subsection  "Unread" star
 */
span.UnreadArticles,
div.UnreadArticles {
    display: block;
    width: 16px;
    height: 15px;
    margin-left: 6px;
    font-weight: normal;
    position: relative;
    padding: 0px 3px !important;
}

span.UnreadArticles i,
div.UnreadArticles i {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    font-size: 14px;
    color: #ddd;
}

span.UnreadArticles em,
div.UnreadArticles em {
    display: none;
}

span.UnreadArticles i:first-child,
div.UnreadArticles i:first-child {
    color: #777 !important;
    font-size: 16px;
    z-index: 1;
    left: -1px;
    top: -1px;
}

span.UnreadArticles.Remarkable i,
div.UnreadArticles.Remarkable i {
    color: #F2BD0E;
}

span.UnreadArticles.Ordinary,
div.UnreadArticles.Ordinary {
    color: #ddd;
}

tbody tr:hover span.UnreadArticles i {
    color: #fff;
}

span.ImportantArticles {
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    margin: -2px 0px 0px 23px;
    color: #C10505;
    font-size: 13px;
}

span.ImportantArticles em {
    display: none;
}

span.ImportantArticles i {
    color: #C10505;
}

/**
 * @subsection  Charts
 */
.Chart {
    width: 240px;
    height: 200px;
}

#ChartTooltip {
    padding: 2px 8px 3px;
    background: #000;
    color: #FFF;
    font-size: 11px;
    opacity: 0.8;
    border-radius: 8px;
    position: absolute;
}

/**
 * @subsection  Datepicker
 */
.DatepickerIcon {
    margin: 1px 0 0 4px;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
    color: #333;
}

.RTL .DatepickerIcon {
    margin: 0 4px 0 0;
}

/* Vacation Days */
td.Highlight a.ui-state-default {
    border: 1px solid #fad42e;
    background: #ffe45c !important;
    background: -moz-linear-gradient(top,  #fff0a5 0%, #ffe45c 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff0a5), color-stop(100%,#ffe45c)) !important;
    background: -webkit-linear-gradient(top,  #fff0a5 0%,#ffe45c 100%) !important;
    background: -o-linear-gradient(top,  #fff0a5 0%,#ffe45c 100%) !important;
    background: -ms-linear-gradient(top,  #fff0a5 0%,#ffe45c 100%) !important;
    background: linear-gradient(to bottom,  #fff0a5 0%,#ffe45c 100%) !important;
}

/* Today */
.ui-datepicker-current-day {
}

/*Weekend*/
.ui-datepicker-week-end {
}

/**
 * @subsection  Autocompletion
 */

.ui-autocomplete {
    z-index: 20 !important;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui-autocomplete .ui-menu-item {
    font-size: 11px;
}

.ui-overlay-autocomplete {
    z-index: 4000 !important;
}

/**
 * @subsection  Icons
 */
.IconInline {
    display: inline-block;
}

.IconReady {
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/tick.png);
}

.IconNotReady {
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/cross.png);
}

.IconNotReadyGrey {
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/cross_sw.png);
}

/**
 * @subsection  Dialog popup width
 */
iframe.TextOption {
    width: 500px;
    height: 400px;
}

iframe.TextOption.SpellCheck {
    width: 800px;
}

iframe.TextOption.Customer {
    width: 800px;
}

/**
 * @subsection global search
 */
#SearchForm,
#AgentCustomerInformationCenterSearchForm {
    width: 560px;
    padding-right: 20px;
}

#ArticleFilterDialogForm {
    width: 480px;
    max-height: 300px;
}

#ContextSettingsDialog {
    width: 450px;
    max-height: 100px;
}

/**
 * @subsection global message format
 */
.ArticleBody {
    font-family: monospace,fixed;
    word-wrap: break-word;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}


/**
 * @subsection  Chat
 */

.ArticleChat .Name {
    font-weight: bold;
    white-space: nowrap;
}

.ArticleChat .Time {
    padding-right: 5px;
    color: #888;
    white-space: nowrap;
}

.ArticleChat .SystemGenerated .Name {
    display: none;
}

.ArticleChat .SystemGenerated .Text {
    font-style: italic;
    color: #888;
}

.ArticleChat .Own .Name {
    color: red;
}

.ArticleChat > div {
    display: table;
}

.ArticleChat > div > div {
    display: table-row;
}

.ArticleChat > div > div > span {
    display: table-cell;
}

#ChatStartDialog {
    width: 500px;
    position: relative;
}

#ChatStartDialog form {
    display: block;
    padding: 10px;
}

#ChatStartDialog form textarea {
    width: 380px;
    height: 30px;
    font-family: arial, sans-serif;
    padding: 3px;
}

#ChatStartDialog form .Primary {
    position: absolute;
    right: 20px;
    top: 11px;
}

#ChatStartDialog form .Primary span {
    line-height: 26px;
    height: 26px;
}

#ChatStartDialog form .Primary:focus {
    border-color: #333;
}

.ChatProtocol {
    border: 1px solid #ccc;
    padding: 2px;
    overflow-y: auto;
    max-height: 150px;
    width: 617px;
}

/**
 * @subsection global jQuery UI optimizations
 */
/*
* Bug #8288: Autocomplete search results show up in Times font when using Internet Explorer
*/
.ui-menu-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-menu .ui-menu-item a {
    border: 1px solid #fff;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-widget-header {
    background: #eee !important;
    border: 0px !important;
    font-weight: normal !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #f2f2f2 !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #ddd !important;
}

/**
 * @subsection global CKEditor fixes/improvements
 */

.cke_combo__fontsize .cke_combo_text {
    width: 40px !important;
}

#cke_RichText,
.cke_toolbar > .cke_toolgroup,
.cke_toolbar .cke_combo_button,
.cke_inner .cke_contents,
.cke_dialog_body,
input.cke_dialog_ui_input_password,
input.cke_dialog_ui_input_text,
textarea.cke_dialog_ui_input_textarea {
    border-radius: 0px !important;
}

.cke_toolgroup .cke_button_on {
    background-color: #ccc;
}

input.cke_dialog_ui_input_password:focus,
input.cke_dialog_ui_input_text:focus,
textarea.cke_dialog_ui_input_textarea:focus {
    box-shadow: none !important;
    border-color: #f92 !important;
}

/**
 * @subsection global nvd3 improvements/fixes
 */

.nvtooltip {
    font-size: 11px !important;
    border: 0px !important;
}

/*
 * @subsection Popup-Iframe (for responsive)
 */
iframe.PopupIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/* OTRS Business Solution Dialog */

.OTRSBusinessRequiredDialog {
    padding: 70px 20px 10px 20px;
    background: url(../img/logo-business.png) no-repeat top center;
}

/**
 * @subsection  Floaters
 */

body > div.MetaFloater {
    width: 600px;
    height: 400px;
    background: #fff;
    box-shadow: 2px 1px 3px #aaa;
    position: absolute;
    box-sizing: border-box;
    z-index: 999;
    margin-top: -5px;
    border: 1px solid #eee;
    border-top: 30px solid #eee;
}

body > div.MetaFloater:after, 
body > div.MetaFloater:before {
    bottom: 399px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

body > div.MetaFloater.Left:after, 
body > div.MetaFloater.Left:before {
    left: 15px;
    margin-top: -1px;
}

body > div.MetaFloater.Right:after, 
body > div.MetaFloater.Right:before {
    left: auto;
    right: 15px;
}

body > div.MetaFloater.Bottom:after, 
body > div.MetaFloater.Bottom:before {
    bottom: auto;
    top: 100%;
}

body > div.MetaFloater:after {
    border-bottom-color: #eee;
    border-width: 15px;
    margin-left: -15px;
}

body > div.MetaFloater.Bottom:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
}

body > div.MetaFloater:before {
    border-color: rgba(170, 170, 170, 0);
    border-bottom-color: #aaa;
    border-width: 16px;
    margin-left: -16px;
}

body > div.MetaFloater.Bottom:before {
    border-color: rgba(170, 170, 170, 0);
    border-top-color: #aaa;
}

body > div.MetaFloater > i.fa-spin {
    position: absolute;
    left: 50%;
    font-size: 20px;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}

body > div.MetaFloater > div.Content > iframe {
    height: 200%;
    left: -50%;
    position: absolute;
    top: -50%;
    transform: scale(0.5);
    width: 200%;
}

body > div.MetaFloater > div.Content > iframe.NoScale {
    height: 100%;
    left: 0px;
    top: 0px;
    transform: scale(1.0);
    width: 100%;
}

body > div.MetaFloater > a {
    font-size: 15px;
    padding: 8px 10px;
    display: block;
    position: absolute;
    top: -30px;
    text-align: right;
    box-sizing: border-box;
    height: 30px;
    color: #555;
}

body > div.MetaFloater > div.Content {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

body > div.MetaFloater > div.NoPreview {
    display: none;
    text-align: center;
    width: 50%;
    margin: 23% auto;
    line-height: 150%;
    color: #777;
}

body > div.MetaFloater > div.NoPreview i {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #777;
}

body > div.MetaFloater > a.Scale {
    left: 0px;
}

body > div.MetaFloater > a.Open {
    left: 25px;
}

body > div.MetaFloater > a.Close {
    right: 0px;
}

/**
 * @subsection  CKEditor Notifications
 */

/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/**
 * Progress notification structure:
 *
 * +---div.cke_notification cke_notification_info--------------------------+
 * |                                                                       |
 * | +---div.cke_notification_progress-----------------------------------+ |
 * | |                                                                   | |
 * | +-------------------------------------------------------------------+ |
 * |                                                                       |
 * | +---p.cke_notification_message--------------------------------------+ |
 * | | Foo                                                               | |
 * | +-------------------------------------------------------------------+ |
 * |                                                                       |
 * | +---a.cke_notification_close----------------------------------------+ |
 * | | +---span.cke_label----------------------------------------------+ | |
 * | | | X                                                             | | |
 * | | +---------------------------------------------------------------+ | |
 * | +-------------------------------------------------------------------+ |
 * |                                                                       |
 * +-----------------------------------------------------------------------+
 *
 *
 * Warning notification structure:
 *
 * +---div.cke_notification cke_notification_warning-----------------------+
 * |                                                                       |
 * | +---p.cke_notification_message--------------------------------------+ |
 * | | Foo                                                               | |
 * | +-------------------------------------------------------------------+ |
 * |                                                                       |
 * | +---a.cke_notification_close----------------------------------------+ |
 * | | +---span.cke_label----------------------------------------------+ | |
 * | | | X                                                             | | |
 * | | +---------------------------------------------------------------+ | |
 * | +-------------------------------------------------------------------+ |
 * |                                                                       |
 * +-----------------------------------------------------------------------+
 *
 * Success and info notifications have the same structure as warning, but use
 * `cke_notification_success` and `cke_notification_info` instead of `cke_notification_warning`.
 */

.cke_notifications_area {
    /* Prevent notification margin capture clicking. */
    pointer-events: none;
}
.cke_notification {
    pointer-events: auto;
    position: relative;
    margin: 10px;
    width: 300px;
    color: white;
    border-radius: 3px;
    text-align: center;
    opacity: 0.95;
    filter: alpha(opacity = 95);
    box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.3);
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
}

.cke_notification_message a {
    color: #12306F;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0.4; }
    to { opacity: 0.95; }
}

@keyframes fadeIn {
    from { opacity: 0.4; }
    to { opacity: 0.95; }
}

.cke_notification_success {
    background: #72B572;
    border: 1px solid #63A563;
}

.cke_notification_warning {
    background: #C83939;
    border: 1px solid #902B2B;
}

.cke_notification_info {
    background: #2E9AD0;
    border: 1px solid #0F74A8;
}

.cke_notification_info span.cke_notification_progress {
    background-color: #0F74A8;
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.cke_notification_message {
    position: relative;
    margin: 4px 23px 3px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    z-index: 4;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cke_notification_close {
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 5px;
    right: 1px;
    padding: 0;
    margin: 0;
    z-index: 5;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.cke_notification_close:after {
    display: block;
    height: 20px;
    width: 20px;
    content: "x";
    color: #fff;
}

.cke_notification_close:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.cke_notification_close span {
    display: none;
}

.cke_notification_warning a.cke_notification_close {
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.cke_notification_warning a.cke_notification_close:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

}

/*
 * @subsection Media Query Reset-CSS (for desktop screen resolutions)
 */
@media only screen and (min-width: 1025px) {

    /*
     * @subsection Responsive classes
     */
    .ScreenXL {
        display: block !important;
    }

    .SmallerOrEqualScreenXL {
        display: block !important;
    }

    .ScreenL, .ScreenM, .ScreenS, .ScreenXS,
    .SmallerOrEqualScreenL, .SmallerOrEqualScreenM,
    .SmallerOrEqualScreenS, .SmallerOrEqualScreenXS {
        display: none !important;
    }

    /*
     * @subsection Responsive footer classes
     * @description Used to determinethe active screen size in JavaScript
     */
    #ResponsiveFooter .Visible-ScreenXL {
        display: block !important;
    }

    #ResponsiveFooter .Visible-ScreenL,
    #ResponsiveFooter .Visible-ScreenM,
    #ResponsiveFooter .Visible-ScreenS,
    #ResponsiveFooter .Visible-ScreenXS {
        display: none !important;
    }

    .ResponsiveHandle {
        display: none !important;
    }
}
