# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div id="Footer" class="ARIARoleContentinfo">
[% RenderBlockStart("Banner") %]
    <a href="http://www.otrs.com/" title="[% Config("Product") %] [% Config("Version") %]" target="_blank">[% Translate("Powered by") | html %] [% Config("Product") %]</a>
<br/><br/>
<div>This tool uses the AGPLv3 Licence. <a href="https://bitbucket.org/otrs_arvato_systems/otrs/downloads/">Source</a href></div>
[% RenderBlockEnd("Banner") %]
    <div class="Clear"></div>
</div>

[% InsertTemplate("CustomerFooterJS.tt") %]

</body>
</html>
